<a href="https://colab.research.google.com/github/mars8577/CSC.htm/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sys
sys.version

'3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]'

In [4]:
import sys
print(f"Python version: {sys.version}")
print(f"\nYou're running Python {sys.version_info.major}.{sys.version_info.minor}")

if sys.version_info.major >= 3 and sys.version_info.minor >=9:
  print("\n Great! Your Python version is compatible with this bootcamp. ")
else:
  print("\n Waring: We recommend Python 3.9 or higher.")

Python version: 3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]

You're running Python 3.12

 Great! Your Python version is compatible with this bootcamp.

In [6]:
#check that jupiter is working
print(" Jupiter Notebook is working")
print("\nYou just ran your first code cell")

 Jupiter Notebook is working

You just ran your first code cell

Creating vatiable

In [9]:
name = "Alex"
age = 28
salary = 65000.50
is_employed = True

In [10]:
#Print them out
print("Name:", name)
print("Age:", age)
print("Salary:", salary )
print("Employed:", is_employed)

Name: Alex
Age: 28
Salary: 65000.5
Employed: True

In [11]:
#variables can be change (reassigned)
score = 85
print("Initial score:", score)

#reassigned another variable
score= 92
print("Update score:", score)

#Using the old value calculate the new value
score = score + 5
print("After bonus:", score)

Initial score: 85
Update score: 92
After bonus: 97

Create Your Own Variables

In [14]:
#Creating the variable
favorite_number = 7
city = 'New York City'
favorite_restaurant = "Morgan's"
used_python_before = True
current_year = 2026
min_threshold = 50000

#Print them out
print("My favorite number is:", favorite_number)
print("I live in:", city)
print("My favorite restaurant:", favorite_restaurant)
print("I've used python before:", used_python_before)
print("The year is:", current_year)

My favorite number is: 7
I live in: New York City
My favorite restaurant: Morgan's
I've used python before: True
The year is: 2026

In [24]:
print("My favorite number is", favorite_number, end= ',')
print(" I live in", city)

My favorite number is 7, I live in New York City

In [25]:
#checking data types with type()
product_name = "Laptop"
quantity = 5
price = 999.99
in_stock = True

print(f"product_name is type: {type(product_name)}")
print(f"quantity is type: {type(quantity)}")
print(f"price is type: {type(price)}")
print(f"in_stock is typw: {type(in_stock)}")

product_name is type: <class 'str'>
quantity is type: <class 'int'>
price is type: <class 'float'>
in_stock is typw: <class 'bool'>

STRING (TEXT)

In [27]:
#Both sinple and souble quotes work
greeting = "Hello"
name = "World"

#Combining string (concatenation)
message = greeting + ',' + name + "!"
print(message)

#Sttring lenght
print(f"The message had {len(message)} characters")

Hello,World!
The message had 12 characters

In [30]:
#F-strings: A modern way to include variables in text
customer = "Sarah"
order_total = 127.75
items = 3

# unsing f-string (put f before the quotes)
summary = f"{customer} ordered {items} items for ${order_total}"
print(summary)

Sarah ordered 3 items for $127.75

In [31]:
#NUMBERS(INTEGERS AND FLOATS)
#integer operations
orders_monday = 45
orders_tuesday = 52
total_orders = orders_monday + orders_tuesday
print(f"Total orders: {total_orders}")

#Float operatios
price = 29.99
tax_rate = 0.08
tax_amount = price * tax_rate
total_price = price + tax_amount
print(f"Price: ${price}, Tax: ${tax_amount: .2f}, Total: ${total_price: .2f}")

Total orders: 97
Price: $29.99, Tax: $ 2.40, Total: $ 32.39

In [32]:
#BOOLEAN FROM COMPARISONS
temperature = 75

is_hot = temperature > 80
is_cold = temperature < 60
is_comfortable = temperature >= 65 and temperature <=80

print(f"Temperature: {temperature}F")
print(f"Is it hot? {is_hot}")
print(f"Is it cold? {is_cold}")
print(f"Is it comfortable? {is_comfortable}")

Temperature: 75F
Is it hot? False
Is it cold? False
Is it comfortable? True

In [36]:
# Data types pratice
 #Retail Store Data

# Given information:
# - Store name: "TechMart"
# - Units sold: 150
# - Price per unit: $45.99
# - Is the store open? Yes

# create variable
store_name = "TechMart"
units_sold = 150
price_per_unit = 45.99
is_open = True

#calculate total revenue (units_sold * price_per_units)
total_revenue = units_sold * price_per_unit

#print a summury using an f-string
print(f"{store_name} sold {units_sold} units at ${price_per_unit}  each a total ${total_revenue}")

TechMart sold 150 units at $45.99  each a total $6898.5

In [41]:
#BASIC OPERATIONS
#Real-World calculation : Sales metrics
total_sales = 15000
num_salespeople = 8
commission_rate = 0.05

#Average sales per person
avg_sales = total_sales / num_salespeople
print(f"Average sales per person: ${avg_sales:,.2f}")

#Total commission
total_commission = total_sales * commission_rate
print(f"Total commission: ${total_commission:,.2f}")

#Commission per person
commission_per_person = total_commission / num_salespeople
print(f"commission per person: ${commission_per_person:,.2f}")

Average sales per person: $1,875.00
Total commission: $750.00
commission per person: $93.75

In [43]:
# Comparison Operation
# Image filtering sales data
sale_amount = 250

#Check various condition
is_large_sale = sale_amount >= 500
is_medium_sale = sale_amount >= 100 and  sale_amount < 500
is_small_sale = sale_amount < 100

print(f"Sale amount: ${sale_amount}")
print(f"Is large sale (>= $500)? {is_large_sale}")
print(f"Is medium sale ($100 - 499)? {is_medium_sale}")
print(f"Is small sale (<$100)? {is_small_sale}")

Sale amount: $250
Is large sale (>= $500)? False
Is medium sale ($100 - 499)? True
Is small sale (<$100)? False

In [44]:
#BUSINESS CALCULATIONS
#E-COMMERCE METRICS

#GIVEN DATA
monthly_revenue = 25000
total_orders = 1850
total_visitors = 45000
returning_customers = 742

#Calculate:
# number 1. Average order value (revenue / orders)
average_order_value = monthly_revenue / total_orders

#number 2. conversation rate ( order / visitor * 100 for percentage)
conversion_rate = total_orders / total_visitors * 100

#3. Returning customer rate ( returning_customers / totals_order *100)
returning_rate = returning_customers / total_orders * 100

#4 Is the conversation rate above 4%? (True/ False)
good_conversation = True

print(f"Average Order Value: ${}")